<manifest package="justbucket.familiar.extension.image"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="familiar.extension" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">

        <meta-data android:name="familiar.extension.name"
            android:value="Image Extension" />
        <meta-data android:name="familiar.extension.configurator"
            android:value="justbucket.familiar.extension.image.ImageConfigurator" />
        <meta-data android:name="familiar.extension.locator"
            android:value="justbucket.familiar.extension.image.ImageLocator" />
        <meta-data android:name="familiar.extension.model.mapper"
            android:value="justbucket.familiar.extension.image.ImageModelMapper" />

    </application>

</manifest>